<div class="cash-register-section">
  <app-subarea-titulo [texto]="'Cajas abiertas'"></app-subarea-titulo>

  <app-search-create-list *ngIf="!isModalOpen"
    [data]="cashRegistersList"
    [displayedColumns]="displayedColumns"
    [cardComponent]="cardComponent"
    (create)="openModal()"
    (edit)="openDetails($event)"
    (delete)="onDelete($event)">
  </app-search-create-list>

  <app-subarea-titulo [texto]="'Historial'"></app-subarea-titulo>


  <!-- Modal agregar caja -->
  <div class="modal-backdrop" *ngIf="isModalOpen">

    <app-add-cash-register 
    [cashiers$]="cashers$"
    (closeModal)="handleModalClose($event)">
    </app-add-cash-register>


  </div>
  
  
</div>
