<div class="search-div">
  <div class="search-container">
    <button mat-raised-button (click)="onCreate()" class="btn-create">
      <mat-icon>add</mat-icon>Create
    </button>

    <textarea
      autocomplete="off"
      (keyup)="applyFilter($event)"
      class="filter-textarea"
    ></textarea>
  </div>

<div class="pantalla">
  <router-outlet></router-outlet>
  <div class="card-list">
    <b *ngIf="loading$ | async;">Cargando... {{ loading$ | async | json}}</b>
    <app-card class="card"
      *ngFor="let user of members$ | async"
      [user]="user"
      [plans]="plans$ | async"
    ></app-card>
  </div>
</div>
