<div *ngIf="showFilter" class="date-filter">
  <mat-form-field appearance="outline">
    <mat-label>Fecha</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" (dateChange)="filterCheckins()">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>


<div class="checkin-list">
  <app-checkin-card
    *ngFor="let c of filteredCheckins"
    [name]="c.name"
    [img]="c.img"
    [checkinTime]="c.time"
    [status]="c.inside ? 'inside' : 'outside'">
  </app-checkin-card>
</div>
