<mat-form-field appearance="outline">
  <mat-label>Fecha</mat-label>
  <input
    matInput
    [matDatepicker]="picker"
    [(ngModel)]="selectedDate"
    (ngModelChange)="filterCheckins()" />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<button mat-raised-button color="primary" (click)="filterCheckins()">Filtrar</button>

<div class="checkin-list">
  <app-checkin-card
    *ngFor="let c of filteredCheckins"
    [name]="c.name"
    [img]="c.img"
    [checkinTime]="c.time"
    [status]="c.inside ? 'inside' : 'outside'">
  </app-checkin-card>
</div>

<!-- Para debug 
<pre>{{ filteredCheckins | json }}</pre>

<pre>{{ checkins$ | async | json }}</pre>
members
<pre *ngIf="members$ | async as members">{{ members }}</pre>
-->