body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

/* Menú lateral fijo */
.slider-menu {
  width: 280px;
  background-color: #f5f6f8;
  padding: 16px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition: transform 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

/* Perfil */
.profile-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  span {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
}

/* Navegación */
.nav-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  gap: 12px;
  cursor: pointer;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  i {
    font-size: 20px;
    color: #3f51b5;
  }

  span {
    font-size: 16px;
    color: #333;
    font-weight: 500;
  }

  &.exit {
    background-color: #ffe6e6;

    &:hover {
      background-color: #ffcccc;
    }

    i {
      color: #f44336;
    }
  }

  &:hover {
    background-color: #e4e6eb;
  }
}

/* Botón hamburguesa */
.menu-toggle {
  display: none;
  position: fixed;
  top: 16px;
  left: 16px;
  z-index: 1000;
  background-color: #ffff;
  color: #333;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

/* Responsive: ocultar menú si pantalla <= 800px */
@media (max-width: 800px) {
  .slider-menu {
    transform: translateX(-100%);
  }

  .slider-menu.show {
    transform: translateX(0); // visible cuando se aplica la clase
  }

  .menu-toggle {
    display: block;
    margin-top: -8px;

    
  }
}
