# Dependencias de Node
node_modules

# Archivos de Build/Distribución
dist
out-tsc

# Archivos de caché de Angular
.angular/cache

# Archivos de configuración de ambiente (si tuvieras alguno)
*.env

# Archivos de logs
*.log

# Archivos de mapeo de TypeScript
*.js.map

# Archivos o carpetas creados por editores/IDE
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Sistema Mac
.DS_Store
