.row-container {
    display: flex;
    flex-direction: row;
    //gap: 16px;
  
    &.single-column {
      flex-direction: column;
    }
  
    .column {
      flex: 1;
    }
  }
  .container {
background-color: white;
  }

  .centered-div {
    padding: 20px;
  }