<app-ctn-create-search
  (searchChanged)="onSearch($event)"
  (createClicked)="onCreateClick()">
</app-ctn-create-search>

<div style="text-align: right; margin: 10px;">
  <button mat-button color="primary" (click)="toggleView()">
    <mat-icon>{{ viewMode === 'table' ? 'view_module' : 'table_view' }}</mat-icon>
    {{ viewMode === 'table' ? 'Tarjetas' : 'Tabla' }}
  </button>
</div>




<!-- Vista tarjetas -->
<div *ngIf="viewMode === 'card'" class="card-list">
    <ng-container *ngIf="viewMode === 'card'">
        <ng-container *ngFor="let item of filteredData">
          <ng-container *ngComponentOutlet="cardComponent; injector: createInjector(item)"></ng-container>
        </ng-container>
      </ng-container>
      
</div>
