<section>
    <mat-button-toggle-group [formControl]="fontStyleControl" aria-label="Tipo de Pago" style="border-radius: 5px;">
      <mat-button-toggle value="card" style="padding-top: 10px;padding-bottom: 10px;
      font-size: 18px;">
        <mat-icon style="padding-top: 10px;
        font-weight: 800;
        font-size: 20px;">credit_card</mat-icon>
        Tarjeta
      </mat-button-toggle>
      <mat-button-toggle value="cash" style="padding-top: 10px;padding-bottom: 10px;
      
      font-size: 18px;"> 
        <mat-icon>attach_money</mat-icon>
        Efectivo
      </mat-button-toggle>
    </mat-button-toggle-group>
  </section>