<div class="promotion-container">
  <div class="promotion-header">
    <h2>Promotion Types</h2>
    <div class="type-buttons">
      <button
        *ngFor="let type of promotionTypes$ | async"
        (click)="selectType(type)"
        [class.active]="type.id === selectedType?.id"
        title="{{ type.description }}"
      >
        {{ type.name }}
      </button>
    </div>
  </div>

  <!-- Componente con detalle de promociones -->
  <app-promotion-details *ngIf="selectedType" [type]="selectedType"></app-promotion-details>
</div>
