<h2 mat-dialog-title>Detalles de la Venta #{{ data.sale.id }}</h2>

<mat-dialog-content>
  <p><strong>Caja ID:</strong> {{ data.sale.cashRegister?.id ?? 'N/A' }}</p>
  <p><strong>Cajero:</strong> {{ data.sale.cashRegister?.cashier?.name ?? 'N/A' }}</p>
  <p><strong>Método de Pago:</strong> {{ data.sale.paymentMethod }}</p>
  <p><strong>Fecha:</strong> {{ data.sale.saleDate }}</p>

  <table mat-table [dataSource]="data.sale.details" class="mat-elevation-z8 mat-table-custom">
    <ng-container matColumnDef="item">
      <th mat-header-cell *matHeaderCellDef>Producto/Membresía</th>
      <td mat-cell *matCellDef="let detail">
        {{ detail.isMembership ? detail.membershipName : detail.product?.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Cantidad</th>
      <td mat-cell *matCellDef="let detail">{{ detail.quantity }}</td>
    </ng-container>

    <ng-container matColumnDef="unitPrice">
      <th mat-header-cell *matHeaderCellDef>Precio Unitario</th>
      <td mat-cell *matCellDef="let detail">${{ detail.product?.price ||detail.unitPrice }}</td>
    </ng-container>

    <ng-container matColumnDef="totalPrice">
      <th mat-header-cell *matHeaderCellDef>Subtotal</th>
      <td mat-cell *matCellDef="let detail">${{ detail.quantity * detail.product?.price ||detail.totalPrice }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['item', 'quantity', 'unitPrice', 'totalPrice']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['item', 'quantity', 'unitPrice', 'totalPrice'];"></tr>
  </table>

  <h3>Total: ${{ data.sale.totalAmount }}</h3>
</mat-dialog-content>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
</div>
