<div class="container" *ngIf="user">
  <div class="div_principal">
    <!-- Imagen del usuario -->
    <div class="div_user-image">
      <div class="user-image">
        <img [src]="user.img || 'https://via.placeholder.com/150'" alt="User Image">
      </div>
      <div style="margin-top: 5px;">
        <button mat-button (click)="openRenovarModal(user.id)" class="menu-button">
          
          Renovar
        </button>
      </div>
    </div>

    <!-- Info del usuario -->
  <!-- Info del usuario -->
<div class="info-wrapper">
  <h3 class="name">{{ user.name || 'User Name' | truncateName:15 | slice:0:10 }}</h3>

  <div class="dias-wrapper">
    <div>
      <span class="available_days">{{ user.available_days }}</span>
    </div>
    <div>
      <a href="#" class="disponibles">Disponibles</a>
    </div>
  </div>
</div>

  </div>
</div>
