.container {
  width: 15em;
  margin: 1em;
  background-color: #ffffff;
  border-radius: 1em;
  border: 8px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: visible; /* 🟢 evita que se corte el botón */
}
.available_days{
  font-size: 30px;
}
.div_principal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.div_user-image {
  width: 40%;
  margin-left: 10px;
  margin-top: -10px; /* 🟢 sube la imagen */
  position: relative;
}

.user-image {
  padding: 1em 0 0.5em; /* 🟢 reduce espacio arriba */
}

.user-image img {
  object-fit: cover;
  height: 80px;
  border-radius: 50%;
  width: 90%;
  border: 3px solid #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.name {
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0.3em;
  position: relative;
  top: 5px;
}

/* Botón Renovar */
.menu-button {
  font-size: 0.75em;
  padding: 0.4em 1em;
  min-width: auto;
  margin-top: -5px;
  border-radius: 8px;
  background-color: #f3f3f3;
  color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu-button:hover {
  background-color: #007BFF;
  color: #ffffff;
}


@media (max-width: 400px) {
  .container {
    width: calc(46% - 1em);
    margin-left: 10px;
    
  }

  .div_user-image {
    width: 40%;
    margin-left: 5px;
  }
  .user-image img {
    object-fit: cover;
    height: 70px;
    border-radius: 50%;
    width: 90%;
    border: 3px solid #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .info-wrapper {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* 🔥 necesario para que el auto-margin funcione */
  }
  
  .dias-wrapper {
    position: absolute;
    left: 90px;
    top: 65px; /* 🔥 empuja hacia abajo automáticamente */
  }
  .available_days{
    font-size: 20px;
  }
  .disponibles{
    font-size: 10px;
  }
}
/* Responsive: 2 por fila en móvil */
@media (max-width: 767.98px) {
  .container {
    width: calc(47% - 1em);
    margin-left: 10px;
    
  }

  .div_user-image {
    width: 40%;
    margin-left: 5px;
  }
  .user-image img {
    object-fit: cover;
    height: 70px;
    border-radius: 50%;
    width: 90%;
    border: 3px solid #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .info-wrapper {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* 🔥 necesario para que el auto-margin funcione */
  }
  
  .dias-wrapper {
    margin-top: 25px; /* 🔥 empuja hacia abajo automáticamente */
  }
  
}
