<div class="card-modern">
  <img class="profile-photo" [src]="user.img || 'https://via.placeholder.com/150'" alt="User Photo" />

  <h2 class="user-name">{{ user.name| slice:0:12  }}</h2>
  <p class="availability">
    <span class="available-days">{{ user.available_days }}</span> Disponibles
  </p>

  <div class="actions">
    <button mat-icon-button class="edit-btn" style="height: 35px;">
      <mat-icon style="position: relative; top: -5px;">edit</mat-icon>
    </button>
    <button mat-raised-button color="primary" class="renew-btn" (click)="openRenovarModal(user.id)" style="width: 240px;    margin-left: -5px;">
      Renovar
    </button>
  </div>
</div>
