<div class="summary-container">

  <div class="header-navigation">
    <button class="arrow-button" (click)="previousWeek()"><</button>
    <span class="date-range">{{ selectedRange }}</span>
    <button class="arrow-button" (click)="nextWeek()">></button>
  </div>
  <h1 class="total-earnings">
    MX${{ selectedDay ? selectedDay.amount : totalAmount | number:'1.2-2' }}
  </h1>
  

  <div class="bar-chart-container">

    <!-- Línea máxima y su número -->
    <div 
      class="max-line" 
      [style.bottom]="maxHeight + 'px'">
      MX${{ maxAmount | number:'1.2-2' }}
    </div>
  
    <div 
      class="dashed-line" 
      [style.bottom]="maxHeight + 'px'">
    </div>
  
    <div class="bar-chart">
      <div
        *ngFor="let day of weekDays"
        class="bar"
        [class.selected]="selectedDay?.label === day.label"
        [style.height]="(day.amount / maxAmount * maxHeight) + 'px'"
        (click)="selectDay(day)">
        <span class="day">{{ day.label }}</span>
      </div>
    </div>
    
  
  </div>
  
  
  

  <div class="stats-section">

    <h2 *ngIf="!selectedDay">{{ title }}</h2> <!-- 🔵 Mostrar título SOLO si no hay selección -->
  
    <div class="stats-grid" *ngIf="!selectedDay"> <!-- 🔵 Resumen semanal si no hay selección -->
      <div>
        <div class="stat-title">{{ totalLabel }}</div>
        <div class="stat-value">{{ totalAmount | currency:'MXN':'symbol' }}</div>
      </div>
    
      <div>
        <div class="stat-title">Total de gastos</div>
        <div class="stat-value">{{ totalTickets }}</div>
      </div>
    
      <div *ngIf="totalExtra > 0">
        <div class="stat-title">{{ extraLabel }}</div>
        <div class="stat-value">{{ totalExtra }}</div>
      </div>
    
      <div>
        <div class="stat-title">Día más fuerte</div>
        <div class="stat-value">{{ bestDay }}</div>
      </div>
    </div>
  
    <!-- 🔵 Resumen por día seleccionado -->
    <app-summary-weekly-bottom-section
    [data]="{
      totalAmount: 1250,
      label: 'Total Ventas',
      buttonText: 'Ver actividad de ventas'
    }"
    (seeActivity)="onSeeActivity()"
  ></app-summary-weekly-bottom-section>
    
  </div>
  <hr>


</div>
