<mat-toolbar style="background-color: white;"  >
   
  <app-slide class="slider-menu "  ></app-slide>
  
 
  <div style="position: absolute;">
    <div style="width: 20%;">
      
    </div>
    <div style="width: 20%;">
    </div>

    <div class="icon-bar">
      <button 
        class="icon-button" 
        [class.active]="selectedIcon === 'home'" 
        (click)="selectIcon('home')">
        <i class="fas fa-home" style="color: #3f51b5; font-size: 20px; min-width: 24px; text-align: center;"></i>
      </button>
      <button 
        class="icon-button" 
        [class.active]="selectedIcon === 'user'" 
        (click)="user()"
        (click)="selectIcon('user')">
        <i class="fas fa-users" style="color: #3f51b5; font-size: 20px; min-width: 24px; text-align: center;"></i>
      </button>
      <button 
        class="icon-button" 
        [class.active]="selectedIcon === 'product'" 
        (click)="selectIcon('product')"
        (click)="product()">
        <i class="fas fa-store" style="color: #3f51b5; font-size: 20px; min-width: 24px; text-align: center;"></i>
      </button>
      <button 
        class="icon-button" 
        [class.active]="selectedIcon === 'cart'" 
        (click)="selectIcon('cart')" *ngIf="isLogin" (click)="cart()">
        <i class="fas fa-shopping-cart" style="color: #3f51b5; font-size: 20px; min-width: 24px; text-align: center;"></i>
      </button>

      
      <button 
        class="icon-button" 
        [class.active]="selectedIcon === 'games'" *ngIf="isLogin" 
        (click)="toggleScanner()">
        <mat-icon>qr_code_scanner</mat-icon>
      </button>
      ${{total}}
    </div>
    
    <button mat-icon-button style="position: absolute;
        left: 252px;
    top: -16px;"   
    *ngIf="isLogin">
      <mat-icon>menu</mat-icon>
      
    </button>
  
    <div class="menu-out">
      
        name-gym 
        <mat-icon>fitness_center</mat-icon>
 
  </div>
  
    
  </div>

  


  <!-- Submenú de Checador -->
  <mat-menu #submenuChecador="matMenu">
    <button mat-menu-item routerLink="/home/auth-face">
      <mat-icon>fingerprint</mat-icon> Checador
    </button>
  </mat-menu>


  <!-- Contenedor para el escáner QR, solo visible cuando `showScanner` es verdadero -->
  <div *ngIf="showScanner" class="scanner-container">
    <!-- Cuadro para ingresar número manualmente -->
   

    <!-- ZXing Scanner para códigos QR -->
    <zxing-scanner [formats]="allowedFormats"
      [start]="true" 
      (scanSuccess)="onScanSuccess($event)">
    </zxing-scanner>

    <!-- Línea de escaneo animada -->
    <div class="scan-line"></div>

    <!-- Ícono superpuesto en el centro del escáner -->
    <div class="icon-overlay">
      <mat-icon>qr_code_scanner</mat-icon>
    </div>

    <!-- Botón para cerrar el escáner -->
    <button mat-icon-button (click)="closeScanner()" class="close-scanner-btn">
      <mat-icon>close</mat-icon> <app-slide-menu *ngIf="isLogin" ></app-slide-menu>
    </button>
  </div>
<div>

 




  
</div>
  <div id="notification" class="hidden"></div>
</mat-toolbar>
