// 📱 Breakpoints
$break-xs: 479px;
$break-sm: 767px;
$break-md: 1023px;
$break-lg: 1439px;
$break-xl: 1919px;

// 🖼 Backgrounds
$bg-desktop: url('../../assets/chat.jpg');
$bg-mobile: url('../../assets/mobile-gym-bg.jpg');
