<div *ngIf="!showActivityList">
  <app-summary-weekly
    [weekStartDate]="startOfWeek"
    [dataPerDay]="gastosSemana"
    title="Gastos Semanales"
    totalLabel="Total Gastado"
    extraLabel="Total de gastos"
    (seeActivity)="handleSeeActivity()">
  </app-summary-weekly>
</div>

<div *ngIf="showActivityList">
  <button (click)="handleBackToSummary()" class="back-button">Volver a resumen</button>

  <app-search-create-list
    [data]="data"
    [displayedColumns]="displayedColumns"
    [cardComponent]="cardComponent"
    (create)="onCreate()"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)">
  </app-search-create-list>
</div>
