<div class="main-wrapper">
    <div class="header-bar">
      <div class="top-left">
        <h2>Hola, David </h2>
        <p class="date">34 de abril de 2024</p>
      </div>
  
    </div>
  
    <div class="kpis">
      
      <div class="kpi-card blue">
        <p class="value asistencias">48</p>
        <p class="label">Asistencias hoy</p>
      </div>
      <div class="kpi-card gray  ">
        <p class="value checado">10:22 a.m.</p>
        <p class="label">Último check-in    </p>
      </div>

      <div class="kpi-card green ">
                <p class="gastos">Gastos</p>

        <p class="value-gastos">$
          
          {{ currentBalance | number:'1.2-2' }}
        </p>
      </div>
    </div>
  
    
      
      
      <div class="quick-actions">
        <div class="action-box purple" (click)="abrirRenovacion()">
          <mat-icon>person</mat-icon>
          <span>Renovar<br />membresía</span>
        </div>
         <div class="action-box orange" (click)="venderProducto()">
          <mat-icon>fitness_center</mat-icon>
          <span>Vender producto</span>
        </div>
       
        <div class="action-box pink" (click)="openModalExpense()">
          <mat-icon>receipt</mat-icon>
          <span>Agregar<br />gasto</span>
        </div>

         <div class="action-box green"  (click)="openCheckinModal()">
          <mat-icon>groups</mat-icon>
          <span>Ver<br />asistencia</span>
        </div>
        
        <div class="action-box blue" (click)="toggleScanner()">
          <mat-icon>qr_code_scanner</mat-icon>
          <span>Scanner</span>
        </div>
       
      
        
      
          <div class="action-box pink" (click)="route('home/administration/Promotions')">
          <mat-icon>campaign</mat-icon>
          <span>Nueva<br />promoción</span>
        </div>
      </div>
      
      
  
    <h3 class="section-title">Todo</h3>
  
    <div class="feed">
      <div class="feed-card">
        <mat-icon>directions_bike</mat-icon>
        <div>
          <p>Clase de spinning empieza en 30 min</p>
          <small>11:30 a.m.</small>
        </div>
      </div>
      <div class="feed-card">
        <mat-icon>credit_card</mat-icon>
        <div>
          <p>Hoy se renovaron 4 membresías nuevas</p>
          <small>9:20 a.m.</small>
        </div>
      </div>
      <div class="feed-card">
        <mat-icon color="warn">warning</mat-icon>
        <div>
          <p>Faltan 3 días para corte semanal de caja</p>
          <small>8:00 a.m.</small>
        </div>
      </div>
    </div>
  </div>
  


    <!-- Contenedor para el escáner QR, solo visible cuando `showScanner` es verdadero -->
  <div *ngIf="showScanner" class="scanner-container">
    <!-- Cuadro para ingresar número manualmente -->
   

    <!-- ZXing Scanner para códigos QR -->
<zxing-scanner
  [enable]="true"
  (scanSuccess)="onScanSuccess($event)">
</zxing-scanner>

    <!-- Línea de escaneo animada -->
    <div class="scan-line"></div>

    <!-- Ícono superpuesto en el centro del escáner -->
    <div class="icon-overlay">
      <mat-icon>qr_code_scanner</mat-icon>
    </div>

    <!-- Botón para cerrar el escáner -->
    <button mat-icon-button (click)="closeScanner()" class="close-scanner-btn">
      <mat-icon style="color: azure;">close</mat-icon> 
    </button>
  </div>