
<div class="search-div">
  <div>
    <button mat-raised-button (click)="onCreate()" style="left: 375px;
    position: absolute;">
      <mat-icon>add</mat-icon>Create
    </button>
    <textarea   style="    position: relative;
    margin-left: -140px;
    width: 385px;
    border-radius: 55px;"  autocomplete="off"  (keyup)="applyFilter($event)"></textarea>

   
  </div>
 

<mat-button-toggle-group name="viewMode" [(ngModel)]="selectedView">
  <mat-button-toggle value="table"><mat-icon>grid_view</mat-icon>  </mat-button-toggle>
  <mat-button-toggle value="card"><mat-icon>view_module</mat-icon>  <!-- Icono de vista de módulos -->
  </mat-button-toggle>
</mat-button-toggle-group>

<div *ngIf="selectedView === 'table'">
  <app-table-material [data]="products" (elementSelected)="addToCart($event)" style="display: flex; flex-wrap: wrap;position: absolutex;
  margin-left: 410px;"></app-table-material>
</div>

<div *ngIf="selectedView === 'card'" style="display: flex; flex-wrap: wrap;position: absolute;
  margin-left: 340px;">
  <div *ngFor="let product of products" style="margin: 10px;" >
    <app-card-product [element]="product" ></app-card-product>

  </div>
</div>
