/* Estilo base */
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem auto;
}

.btn-create {
  border-radius: 50px;
  width: 150px;
  font-size: 14px;
}

.filter-textarea {
  width: 100%;
  max-width: 400px;
  border-radius: 55px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  resize: none;
}


/* Vista de tabla y cards */
.view-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.card-item {
  margin: 10px;
}

/* Responsive */

/* XS */
@media (max-width: 374px) {

  .search-container {
    flex-direction: row;
    justify-content: flex-start;
  }
  .btn-create{
    position: absolute;
    left: 20px;
  }
  .vista{
      left: 5px;
    }
  
  .btn-create,
  .filter-textarea {
    width: 90%;

  }
  .card-item {
    background-color: white;
    margin: 5px;
    width: 165px;
    margin: 5px;
  }
  
}

/* S */
@media (min-width: 354px) and (max-width: 370px) {

  .search-container {
    flex-direction: row;
    justify-content: flex-start;
  }
  .btn-create{position: relative;

    width: 50px;
    left: 20px;
    top: 30px;
    width: 100px;

  }
  
  .filter-textarea {
    width: 50%;
    margin-top: 55px;
  }

  .vista{
 position: relative;
      left: 20px;
    
  }
 
  .card-item {
    margin: 5px;
    width: 175px;
    margin: 1px;
  }
  
}
@media (min-width: 371px) and (max-width: 400px) {

  .search-container {
    flex-direction: row;
    justify-content: flex-start;
  }
  .btn-create{position: relative;

    width: 50px;
    left: 20px;
    top: 30px;
    width: 100px;

  }
  
  .filter-textarea {
    width: 50%;
    margin-top: 55px;
  }

  .vista{
 position: relative;
      left: 20px;
    
  }
 
  .card-item {
    margin: 5px;
    width: 175px;
    margin: 1px;
  }
  
}
@media (min-width: 400px) and (max-width: 440px) {
  .search-container {
    flex-direction: row;
    justify-content: flex-start;
  }
  .btn-create{position: relative;

    width: 50px;
    left: 20px;
    top: 30px;
    width: 100px;

  }
  
  .filter-textarea {
    width: 50%;
    margin-top: 55px;
  }

  .vista{
 position: relative;
      left: 20px;
    
  }
 
  .card-item {
    margin: 5px;
    width: 175px;
    margin: 1px;
  }
  
}

@media (min-width: 441px) and (max-width: 500px) {
  .search-container {
    flex-direction: row;
    justify-content: flex-start;
  }
  .btn-create{position: relative;

    width: 50px;
    top: 30px;
    width: 100px;

  }
  
  .filter-textarea {
    width: 50%;
    margin-top: 55px;
  }

  .vista{
 position: relative;
      left: 20px;
    
  }
 
  .card-item {
    margin: 5px;
    width: 175px;
    margin: 1px;
  }
  
}
/* M */
@media (min-width: 768px) and (max-width: 991.98px) {
  .search-container {
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 340px;
  }

  .btn-create {
    margin-right: 1rem;
  }

  .filter-textarea {
    width: 350px;
  }

  .view-wrapper {
    justify-content: flex-start;
    padding-left: 340px;
  }
}

/* L */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .search-container {
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 340px;
  }

  .btn-create {
    margin-right: 20px;
  }

  .filter-textarea {
    width: 385px;
  }

  .view-wrapper {
    justify-content: flex-start;
    padding-left: 340px;
  }
}

/* XL */
@media (min-width: 1200px) {
  .search-container {
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 340px;
  }

  .btn-create {
    width: 150px;
    margin-right: 20px;
  }

  .filter-textarea {
    width: 385px;
    margin: 0;
  }

  .view-wrapper {
    justify-content: flex-start;
    padding-left: 340px;
  }
}
@media (min-width: 600px) and (max-width:800px) {
  .search-container {
    padding: 0 10px;
  }

  .btn-create,
  .filter-textarea {
    width: 100%;
  }

  .btn-create {
    width: 45%;
    position: relative;
    margin-left: -300px;
  }
  .search-toolbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    padding: 10px;
    width: 10px
  }

  .filter-textarea {
    width: 100%;
    margin-top: -10px;
    margin-left: 20px;
  }
  .vista{
    left: 38px;
  }

  .search-container {
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 340px;
  }
}