<div class="search-div">
  <div class="search-container">
    <button mat-raised-button (click)="onCreate()" class="btn-create">
      <mat-icon>add</mat-icon>Create
    </button>

    <textarea
      autocomplete="off"
      (keyup)="applyFilter($event)"
      class="filter-textarea"
    ></textarea>
  </div>

  <mat-button-toggle-group name="viewMode" [(ngModel)]="selectedView" class="vista">
    <mat-button-toggle value="table"><mat-icon>grid_view</mat-icon></mat-button-toggle>
    <mat-button-toggle value="card"><mat-icon>view_module</mat-icon></mat-button-toggle>
  </mat-button-toggle-group>

  <div *ngIf="selectedView === 'table'" class="view-wrapper">
    <app-table-material
      [data]="products"
      (elementSelected)="addToCart($event)"
    ></app-table-material>
  </div>

  <div *ngIf="selectedView === 'card'" class="view-wrapper">
    <div *ngFor="let product of products" class="card-item">
      <app-card-product [element]="product"></app-card-product>
    </div>
  </div>
</div>
