<div class="product-form-container">
  <div class="close-button" (click)="closeForm()">
    <mat-icon>close</mat-icon>
  </div>
  
  <app-photo 
    (newItemEvent)="addItem($event)"     
    (imgEmmit)="getImageTaken($event)"
    [imageUrl]="droppedImage"
  ></app-photo>

  <app-drag-over 
    (imageDropped)="onImageDropped($event)"
  ></app-drag-over>

  <mat-form-field class="image-url-field">
    <input
      formControlName="img"
      matInput
      type="text"
      placeholder="Image URL or Base64*"
      required
      readonly
    />
    <mat-error>Este campo es obligatorio.</mat-error>
  </mat-form-field>

  <form [formGroup]="form" class="normal-form" (submit)="onSubmit()">
    <div class="row-container single-column">
      
      <div class="column">
        <div class="controles-container">
          <input type="hidden" formControlName="id">

          <mat-form-field class="custom-mat-form-field">
            <input formControlName="name" matInput placeholder="Product Name*" required>
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>

          <mat-form-field class="custom-mat-form-field">
            <mat-label>Price*</mat-label>
            <input formControlName="price" matInput type="number" placeholder="Price*" required>
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>

          <mat-form-field class="custom-mat-form-field">
            <mat-label>Cantidad*</mat-label>
            <input formControlName="stock" matInput type="number" placeholder="Stock Quantity*" required>
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="column">
        <div class="controles-container">
          <mat-form-field>
            <mat-select formControlName="categoriaId" placeholder="Category*" required>
              <mat-option (click)="openAddCategoryModal()" [value]="null">
                <mat-icon>add</mat-icon> Agregar nueva categoría
              </mat-option>
              <mat-option *ngFor="let category of categories$ | async" [value]="category.id">
                {{ category.name }}
              </mat-option>
            </mat-select>
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Código de barras"
                   (keyup.enter)="onBarcodeScanned($event)" 
                   (keydown.enter)="preventSubmit($event)"/>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Disponible</mat-label>
            <mat-select formControlName="available" placeholder="Available*" required>
              <mat-option [value]="true">Yes</mat-option>
              <mat-option [value]="false">No</mat-option>
            </mat-select>
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
        </div>
      </div>

    </div>

    <div class="button-row">
      <button mat-raised-button color="primary" class="btn-complete" type="submit">
        Save
      </button>
    </div>
  </form>
</div>
