
@mixin vertical-align($position: relative) {
  position: $position;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@mixin transition {
  -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.blu {
  @include vertical-align;
  @include transition;
  position: relative;
  top: 50px;
  width: 80px;
  height: 80px;
  font-size: 2em;
  display: block;
  margin: auto;
  text-align: center;
  outline: none;
  
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  
  i {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: auto;
      z-index: 1000;
    }
  
  /*animation 2*/
  background: rgba(225, 255, 255, 1);
  -webkit-animation: base 1s infinite;
    @keyframes base {
      from {
        background: rgba(225, 255, 255, 1);
      }
      to {
        background: rgba(225, 255, 255, .3);
      }
    }
  
  &:after {
    position: absolute;
    content: "";
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    right: 0; left: 0;
    top: 0; bottom: 0;
    margin: auto;
       
    /*animation 3*/
    opacity: 0;
    transform: scale(0, 0);
    z-index: 100;
    -webkit-animation: inline 1s infinite;
    @keyframes inline {
      from {
        opacity: 0;
        transform: scale(0, 0);
      }
      to {
        opacity: 1;
        transform: scale(1, 1);
      }
    }
    
  }
  
  
  &:before {
    position: absolute;
    @include transition;
    content: "";
    width: 80px;
    height: 80px;
    border: 2px solid white;
    border-radius: 50px;
    
    top: -2px;
    left: -2px;
    
    /*animation 1*/
    transform: scale(1, 1);
    opacity: 1;
    -webkit-animation: outline 1s infinite;
      @keyframes outline {
        from {
          transform: scale(1, 1);
          opacity: 1;
        }
        to {
          transform: scale(2, 2);
          opacity: 0;
        }
      }
  }
  
}

.no-transition {
  background: transparent;
  border: 1px solid #ccc; /* Puedes ajustar el borde según tus necesidades */
  position: relative;
  top: 30px;
  width: 80px;
  height: 80px;
  /* Sin transición */
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;

  /* Mantén los estilos específicos del ícono */
  i {
    color: #000; /* Color del ícono */
  }
}
.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .example-card {
    max-width: 800px;
    padding: 40px;
    position: relative;
    margin: 10px;
  }
  
  
  .example-title {
    font-size: 48px;
    margin-top: 10px;
  }
  
  .example-description {
    margin: 8px;
    margin-top: 20px;
    
  }
  


.material-icons {
    
    font-size: 180px;
    height: 180px;
    width: 180px;
}





.scan
{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 10px;
}




@keyframes animate
{
    0%,100%{
    height: 0%;
    }
    50%{
    height: 100%;
    }
}
.scan .face ::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background: #3fefef;
    border-radius: 8px;
    filter: drop-shadow(0 0 20px #3fefef);
animation: animate_line 4s ease-in-out infinite;
}

@keyframes animate_line
{
    0%,100%{
    top: 0%;
    }
    50%{
    top: 100%;
    }
}


.scan h3{
    text-transform: uppercase;
    color:#3fefef;
    font-size: 2em;
    margin-top: 20px;
    letter-spacing: 2px;
    filter: drop-shadow(0 0 20px #3fefef)drop-shadow(0 0 60px #3fefef);
    animation: animate_text 0.5s steps(1) infinite;
}


@keyframes animate_text
{
    0%,100%{
    opacity: 0;
    }
    50%{
    opacity: 1;
    }
}


$border-color: #f1f1f1;


@mixin vertical-align($position: relative) {
  position: $position;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@mixin transition {
  -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
html { height: 100%;}
body {
  height: 100%;
  background: #b622db;
}

.blu {
  @include vertical-align;
  @include transition;
  width: 80px;
  height: 80px;
  font-size: 2em;
  display: block;
  margin: auto;
  text-align: center;
  outline: none;
  
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  
  i {
      position: absolute;
      left: 50%; top: 50%;
      transform: translate(-50%, -50%);
      margin: auto;
      z-index: 1000;
    }
  
  /*animation 2*/
  background: rgba(225, 255, 255, 1);
  -webkit-animation: base 1s infinite;
    @keyframes base {
      from {
        background: rgba(225, 255, 255, 1);
      }
      to {
        background: rgba(225, 255, 255, .3);
      }
    }
  
  &:after {
    position: absolute;
    content: "";
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    right: 0; left: 0;
    top: 0; bottom: 0;
    margin: auto;
       
    /*animation 3*/
    opacity: 0;
    transform: scale(0, 0);
    z-index: 100;
    -webkit-animation: inline 1s infinite;
    @keyframes inline {
      from {
        opacity: 0;
        transform: scale(0, 0);
      }
      to {
        opacity: 1;
        transform: scale(1, 1);
      }
    }
    
  }
  
  
  &:before {
    position: absolute;
    @include transition;
    content: "";
    width: 80px;
    height: 80px;
    border: 2px solid white;
    border-radius: 50px;
    
    top: -2px;
    left: -2px;
    
    /*animation 1*/
    transform: scale(1, 1);
    opacity: 1;
    -webkit-animation: outline 1s infinite;
      @keyframes outline {
        from {
          transform: scale(1, 1);
          opacity: 1;
        }
        to {
          transform: scale(2, 2);
          opacity: 0;
        }
      }
  }
  
}

 /* Nueva clase sin transición ni color */
 
