
<!-- Ruta seleccionada y botón de regresar -->

<div class="ruta-y-volver" *ngIf="filtroActivo">
  <button mat-button color="primary" (click)="resetFiltros()">Regresar</button>

  <span class="ruta">/{{ filtroActivo }}</span>
</div>

<!-- Cuadros principales (solo si no hay filtro activo) -->
<div class="botones-grid" *ngIf="!filtroActivo">
  <div class="back-button-container" >
    <button mat-button color="primary" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
      Regresar
    </button>
  </div>
  <div class="boton-card" (click)="seleccionarFiltro('Clases')">
    <mat-icon class="icono">fitness_center</mat-icon>
    <span>Clases</span>
  </div>

  <div class="boton-card" (click)="seleccionarFiltro('Eventos')">
    <mat-icon class="icono">event</mat-icon>
    <span>Eventos</span>
  </div>
</div>



<!-- Subfiltros -->
<div class="subfiltros" *ngIf="filtroActivo">
  <button
    mat-stroked-button
    *ngFor="let sub of obtenerSubfiltros()"
    [class.sub-activo]="claseActiva === sub"
    (click)="seleccionarClase(sub)"
  >
    {{ sub }}
  </button>
</div>

<!-- Mostrar solo si hay subfiltro -->
<div *ngIf="claseActiva" class="agenda-container">
  <!-- Calendario reducido -->
<!-- 📅 Mostrar calendario solo si está activado -->
<div *ngIf="mostrarCalendario" class="calendar-wrapper">
  <full-calendar
  *ngIf="mostrarCalendario"
  #fullCalendar
  [options]="calendarOptions">
</full-calendar>
</div>





<!-- Título con la fecha seleccionada -->
<div *ngIf="fechaSeleccionada" class="titulo-fecha">
  Eventos del {{ getFechaSeleccionadaComoDate() | date: 'fullDate' : undefined : 'es-MX' }}

</div>

  <!-- Lista de eventos -->
  <div *ngIf="getEventosDelDia().length > 0" class="eventos-lista" [@eventosFade]>
    <div *ngFor="let evento of getEventosDelDia(); trackBy: trackByEventoId"
     class="evento-item">
      <p class="titulo">{{ evento.title }}</p>
      <p class="hora">
        {{ evento.start | date: 'shortTime' }} - {{ evento.end | date: 'shortTime' }}
      </p>
      <p class="instructor" *ngIf="evento.instructor">
        <mat-icon>person</mat-icon> {{ evento.instructor }}
      </p>
    </div>
  </div>
  


  <p *ngIf="eventosFiltrados.length === 0" class="sin-eventos">
    No hay eventos disponibles.
  </p>
</div>


